
.black{color:#000000;}
.white{color:#FFFFFF;}
.red{color:#FF0000;}
.green{color:#00FF00;}
.blue{color:#0000FF;}
.yellow{color:#FFFF00;}
.toska{color:#00FFFF;}
.magenta{color:#FF00FF;}
.purple{color:rgb(96, 53, 177);}
.brown{color:#fadabf;}

.light_grey{color:#A9A9A9;}
.grey{color:#808080;}
.dark_grey{color:#3D3D3D;}

.retro_red{color:#c23836}
.retro_orange{color:#fa5505}
.retro_yellow{color:#fece00}
.retro_lightgreen{color:#b1d22c}
.retro_green{color:#89a907}
.retro_green{color:#07a925}
.retro_darkgreen{color:#18775e}
.retro_toska{color:#73b19f}
.retro_lightblue{color:#6cb8b8}
.retro_blue{color:#61a29e}
