#login{
    margin:100px auto 0 auto;
    padding:20px;
    width:300px;
    padding:20px;
    border:#cccccc solid 1px;
}
#login form input, #register form input{
    margin-bottom: 5px;
}

#mask{
    background-color:#333333;
    z-index:98;
    top:0px;
    left:0px;
}
#register{
    background-color:#efefef;    
    z-index:99;
    padding:20px;
    padding:20px;
    border:#cccccc solid 1px;
}