.metroui_1{background-color:#252525;color:#EFEFEF !important;}
.metroui_2{background-color:#F4B300;color:#EFEFEF !important;}
.metroui_3{background-color:#78BA00;color:#EFEFEF !important;}
.metroui_4{background-color:#2673EC;color:#EFEFEF !important;}
.metroui_5{background-color:#AE113D;color:#EFEFEF !important;}
.metroui_6{background-color:#632F00;color:#EFEFEF !important;}
.metroui_7{background-color:#2E1700;color:#EFEFEF !important;}
.metroui_8{background-color:#B01E00;color:#EFEFEF !important;}
.metroui_9{background-color:#4E0000;color:#EFEFEF !important;}
.metroui_10{background-color:#4E0038;color:#EFEFEF !important;}

.metroui_11{background-color:#006AC1;color:#EFEFEF !important;}
.metroui_12{background-color:#001E4E;color:#EFEFEF !important;}
.metroui_13{background-color:#008287;color:#EFEFEF !important;}
.metroui_14{background-color:#004D60;color:#EFEFEF !important;}
.metroui_15{background-color:#199900;color:#EFEFEF !important;}
.metroui_16{background-color:#004A00;color:#EFEFEF !important;}
.metroui_17{background-color:#00C13F;color:#EFEFEF !important;}
.metroui_18{background-color:#15992A;color:#EFEFEF !important;}
.metroui_19{background-color:#FF981D;color:#EFEFEF !important;}
.metroui_20{background-color:#E56C19;color:#EFEFEF !important;}

.metroui_21{background-color:#691BB8;color:#EFEFEF !important;}
.metroui_22{background-color:#1FAEFF;color:#EFEFEF !important;}
.metroui_23{background-color:#1B58B8;color:#EFEFEF !important;}
.metroui_24{background-color:#56C5FF;color:#EFEFEF !important;}
.metroui_25{background-color:#569CE3;color:#EFEFEF !important;}
.metroui_26{background-color:#00D8CC;color:#EFEFEF !important;}
.metroui_27{background-color:#00AAAA;color:#EFEFEF !important;}
.metroui_28{background-color:#9AD100;color:#EFEFEF !important;}
.metroui_29{background-color:#B81B6C;color:#EFEFEF !important;}
.metroui_30{background-color:#E1B700;color:#EFEFEF !important;}

.metroui_31{background-color:#C1004F;color:#EFEFEF !important;}
.metroui_32{background-color:#7200AC;color:#EFEFEF !important;}
.metroui_33{background-color:#2D004E;color:#EFEFEF !important;}
.metroui_34{background-color:#4617B4;color:#EFEFEF !important;}
.metroui_35{background-color:#1F0068;color:#EFEFEF !important;}
.metroui_36{background-color:#FF2E12;color:#EFEFEF !important;}
.metroui_37{background-color:#B81B1B;color:#EFEFEF !important;}
.metroui_38{background-color:#FF1D77;color:#EFEFEF !important;}
.metroui_39{background-color:#B81B6C;color:#EFEFEF !important;}
.metroui_40{background-color:#AA40FF;color:#EFEFEF !important;}

.metroui_41{background-color:#D39D09;color:#EFEFEF !important;}
.metroui_42{background-color:#FF76BC;color:#EFEFEF !important;}
.metroui_43{background-color:#E064B7;color:#EFEFEF !important;}
.metroui_44{background-color:#00A4A4;color:#EFEFEF !important;}
.metroui_45{background-color:#FF7D23;color:#EFEFEF !important;}
.metroui_46{background-color:#696969;color:#EFEFEF !important;}